{% extends '_base.html' %}
{% block content %}
    <h1>Sensor management</h1>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('sensor.new') }}" type="button" class="btn btn-outline-success" role="button">Create new sensor</a><br>
            <br>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Public</th>
                    <th>API-Key</th>
                    <th></th>
                </tr>
                {% for sensor in sensors %}
                    <tr>
                        <td>{{ sensor.name }}</td>
                        <td>{% if sensor.public %}&#10004;{% else %}&#10007; ({{ sensor.users|length }} users){% endif %}</td>
                        <td>{{ sensor.api_key}}</td>
                        <td>

                            <a href="{{ url_for('sensor.new_key', sensor=sensor.id) }}"
                               class="btn btn-secondary btn-sm" role="button"
                               title="generate new API-Key"><span data-feather="lock"></span></a>
                            <a href="{{ url_for('sensor.delete', sensor=sensor.id) }}"
                               class="btn btn-secondary btn-sm" role="button" title="delete sensor">
                                <span data-feather="trash"></span></a>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
