{% extends '_base.html' %}
{% block content %}
    <h1>Delete user</h1>
    <div class="row">
        <div class="col-md-12">
            You're about to delete the user named {{ user.username }}.<br>
            Are you sure you want to do this?
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                {{ form.csrf_token }}
                {{ form.verify }} {{ form.verify.label }} {% if form.verify.errors %}
                <span style="color:red;">{{ form.verify.errors[0] }}</span>{% endif %}
                <button type="submit">go on!</button>
            </form>
        </div>
    </div>

{% endblock %}
